version: "3.8"

services:
  {{bot_project_name}}:
    build: .
    container_name: {{bot_project_name}}
    environment:
      - BOT_CREDENTIALS=cts_host@secret_key@bot_id
      - POSTGRES_DSN=postgres://postgres:postgres@{{bot_project_name}}-postgres/{{bot_name_underscored}}_db
      - REDIS_DSN=redis://{{bot_project_name}}-redis/0
      - DEBUG=true
    ports:
      - "8000:8000"  # Отредактируйте порт хоста (первый), если он уже занят
    restart: always
    depends_on:
      - postgres
      - redis
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    ulimits:
      nproc: 65535
      nofile:
        soft: 20000
        hard: 40000

  postgres:
    image: postgres:13.2-alpine
    container_name: {{bot_project_name}}-postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB={{bot_name_underscored}}_db
    restart: always
    volumes:
      - ./.storages/postgresdata:/var/lib/postgresql/data
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"

  redis:
    image: redis:6.2-alpine
    container_name: {{bot_project_name}}-redis
    restart: always
    volumes:
      - ./.storages/redisdata:/data
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
