# https://python-poetry.org/docs/

[tool.poetry]
name = "{{bot_project_name}}"
version = "0.1.0"
description = "{{bot_short_description}}"
authors = []
package-mode = false


[tool.poetry.dependencies]
python = ">=3.10,<3.14"

pybotx = "~0.76.3"
pybotx-smart-logger = "~0.12.1"
{% if add_fsm %}
pybotx-fsm = "~0.7.1"
{% endif %}

fastapi = "~0.136.3"
gunicorn = "~26.0.0"
uvicorn = { version = "~0.49.0", extras = ["standard"] }

loguru = "~0.7.3"
mako = "~1.3.12"
pydantic = "~2.13.4"
pydantic-settings = "~2.14.1"

alembic = "~1.18.4"
SQLAlchemy = "~2.0.50"
greenlet = "~3.5.1"
asyncpg = "~0.31.0"  # DB backend for application
psycopg2-binary = "~2.9.12"  # DB backend for alembic (migration tool)

redis = "~8.0.0"
saq = { version = "~0.26.4", extras = ["hiredis"] }


[tool.poetry.group.dev.dependencies]
add-trailing-comma = "4.0.0"
autoflake = "2.3.3"
black = "26.5.1"
isort = "8.0.1"
mypy = "2.1.0"
wemake-python-styleguide = "1.6.2"

flake8-bandit = "4.1.1"
bandit = "1.9.4"

pytest = "~9.0.3"
pytest-asyncio = "~1.4.0"
pytest-cov = "~7.1.0"

asgi-lifespan = "~2.1.0"
requests = "~2.34.2"
respx = "~0.23.1"
httpx = "~0.28.1"

markdown = "3.10.2"


[build-system]
requires = ["poetry-core>=2.0.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"
