# https://python-poetry.org/docs/

[tool.poetry]
name = "{{bot_project_name}}"
version = "0.1.0"
description = "{{bot_short_description}}"
authors = []


[tool.poetry.dependencies]
python = ">=3.8,<3.11"

pybotx = "~0.54.0"
pybotx-smart-logger = "~0.9.8"

fastapi = "~0.74.1"
uvicorn = { version = "~0.17.5", extras = ["standart"] }
gunicorn = "~20.1.0"

loguru = ">=0.6.0,<0.7.0"
mako = "~1.2.2"
pydantic = { version = "~1.10.4", extras = ["dotenv"] }

alembic = "~1.7.6"
SQLAlchemy = "~1.4.31"
asyncpg = "~0.25.0"  # DB backend for application
psycopg2-binary = "~2.9.2"  # DB backend for alembic (migration tool)

redis = "~4.3.1"
saq = { version = "~0.7.1", extras = ["hiredis"] }

importlib-resources = { version = "^5.4.0", python = "<3.9" }
zipp = { version = "^3.7.0", python = "<3.9" }
importlib-metadata = { version = "^4.11.0", python = "<3.9" }


[tool.poetry.dev-dependencies]
add-trailing-comma = "2.2.1"
autoflake = "1.4.0"
black = "22.3.0"
isort = "5.10.1"
mypy = "0.931.0"
wemake-python-styleguide = "0.16.0"

flake8-bandit = "2.1.2"  # https://github.com/PyCQA/bandit/issues/837
bandit = "1.7.2"  # https://github.com/PyCQA/bandit/issues/837

pytest = "~7.0.1"
pytest-asyncio = "~0.18.2"
pytest-cov = "~3.0.0"

asgi-lifespan = "~1.0.1"
requests = "~2.27.1"
respx = "~0.19.2"
httpx = "0.23.0"

markdown = "3.3.6"  # https://github.com/python-poetry/poetry/issues/4777


[build-system]
requires = ["poetry>=1.1.12"]
build-backend = "poetry.masonry.api"
