# {{bot_project_name}}

Бот создан на базе шаблона [bot-template](https://github.com/ExpressApp/bot-template).

## Описание

{{bot_description}}

## Инструкция по развёртыванию {{bot_project_name}}

**NOTE**: *Для развёртывания нескольких ботов на сервере используйте
продвинутый вариант инструкции: [advanced-deploy.md](advanced-deploy.md).*

1. Воспользуйтесь инструкцией [Руководство 
   администратора](https://express.ms/admin_guide.pdf) `-> Эксплуатация корпоративного 
   сервера -> Управление контактами -> Чат-боты`, чтобы создать бота в панели 
   администратора eXpress. 
2. Получите `secret_key` и `bot_id`, нажав на имя созданного бота. 
3. Получите `cts_host` в строке браузера в панели администратора. 


4. Скачайте репозиторий на сервер:

```bash
git clone <THIS_REPOSITORY> /opt/express/bots/{{bot_project_name}}
cd /opt/express/bots/{{bot_project_name}}
```

5. Отредактируйте `docker-compose.yml`, заменив `cts_host`, `secret_key` и `bot_id` на реальные значения.


6. Запустите контейнеры командой:

```bash
docker-compose up -d
```

7. Убедитесь, что в логах нет ошибок.

```bash
docker-compose logs
```

8. Найдите бота через поиск корпоративных контактов (иконка человечка слева-сверху в
   мессенджере).
9. Напишите боту для проверки. Например, вызовите справку командой `/help`.
