#!/usr/bin/env bash

NETRC_FILE=~/.netrc
CI_COMMIT_SHA=$(git rev-parse --verify HEAD)
GIT_HOST=$(grep machine ${NETRC_FILE} | awk '{ print $2 }')
GIT_LOGIN=$(grep login ${NETRC_FILE} | awk '{ print $2 }')
GIT_PASSWORD=$(grep password ${NETRC_FILE} | awk '{ print $2 }')
BOT_PROJECT_NAME=$(basename $(pwd))
docker build \
    --build-arg GIT_HOST=${GIT_HOST} \
    --build-arg GIT_PASSWORD=${GIT_PASSWORD} \
    --build-arg GIT_LOGIN=${GIT_LOGIN} \
    --build-arg CI_COMMIT_SHA=${CI_COMMIT_SHA} \
    -t {{BOTS_REGISTRY_URL}}${BOT_PROJECT_NAME} .
